{% extends 'base.html' %}
{% block shopsactive %} active {% endblock shopsactive %}

{% block content %}
<div class="container mt-4">
    <!-- Link to Add Shop page -->
    {% comment %} <a href="{% url 'add_shop' %}" class="btn btn-primary mb-3">Add Shop</a> {% endcomment %}
    <!-- Table to display shops data -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Total Sale Amount</th>
                <th>Order Date</th>
                <th>Previous balance</th>
                <th>Recovered Amount</th>
                <th>Recovery Date</th>
                <th>Current Balance</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for recovery in recoveryies_fetched %}
            <tr>
                {% comment %} <td>{{forloop.counter}}</td> {% endcomment %}
                <td>{{recovery.id}}</td>
                <td>{{ recovery.customer_name }}</td>
                <td>{{ recovery.total_amount }}</td>
                <td>{{ recovery.date }}</td>
                <td>{{ recovery.balance }}</td>
                <td>{{ recovery.new_paid_amount }}</td>
                <td>{{ recovery.updated_date }}</td>
                <td>{{ recovery.current_balance }}</td>
                {% comment %} <td><a href="{% url 'edit_shop' shop.id %}" class="btn btn-sm btn-primary">Edit</a></td>
                <td><a href="{% url 'delete_shop' shop.id %}" class="btn btn-sm btn-danger">Delete</a></td> {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
